macro_tab-left: macro_tab-left{
compatible = "zmk,behavior-macro";
label = "macro_tab-left";
#binding-cells = <0>;
bindings = <&kp LEFT_COMMAND>, <&kp LEFT_SHIFT>, <&kp TAB>;
};
macro_tab-right: macro_tab-right{
compatible = "zmk,behavior-macro";
label = "macro_tab-right";
#binding-cells = <0>;
bindings = <&kp LEFT_COMMAND>, <&kp TAB>;
};
macro_show-windows: macro_show-windows{
compatible = "zmk,behavior-macro";
label = "macro_show-windows";
#binding-cells = <0>;
bindings = <&kp LEFT_CONTROL>, <&kp UP>;
};
